body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.form-required {
  color: red;
}

.project-button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-card {
  margin: 1.5rem 0rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.project-card-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.project-card-dates {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
